%%% Copyright (c) Meta Platforms, Inc. and affiliates.
%%% Copyright (c) WhatsApp LLC
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%% % @format
{erl_opts, [debug_info]}.

{deps, []}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -j -C c_src"},
    {"(freebsd)", compile, "gmake -j -C c_src"},
    {"(win32)", compile, "cd c_src && nmake /F Makefile.win"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean distclean"},
    {"(freebsd)", clean, "gmake -C c_src clean distclean"},
    {"(win32)", compile, "cd c_src && nmake /F Makefile.win clean distclean"}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [erldist_filter]}]}.

{ex_doc, [
    {source_url, <<"https://github.com/WhatsApp/erldist_filter">>},
    {extras, [
        <<"README.md">>,
        <<"LICENSE.md">>,
        <<"../../CHANGELOG.md">>,
        <<"../../CODE_OF_CONDUCT.md">>,
        <<"../../CONTRIBUTING.md">>
    ]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
