# Copyright (c) Meta Platforms, Inc. and affiliates.
# Copyright (c) WhatsApp LLC
#
# This source code is licensed under the MIT license found in the
# LICENSE.md file in the root directory of this source tree.

/.pytest_cache/
/.venv/
!/src/**/__init__.py
!/src/**/__main__.py
