annotated-types==0.7.0
attrs==25.3.0
click==8.2.1
colorama==0.4.6
jinja2==3.1.6
jsonschema-specifications==2025.4.1
jsonschema==4.25.0
markupsafe==3.0.2
pydantic-core==2.33.2
pydantic==2.11.7
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.27.0
typing-extensions==4.14.1
typing-inspection==0.4.1
