annotated-types==0.7.0
attrs==26.1.0
click==8.3.3
colorama==0.4.6
jinja2==3.1.6
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
markupsafe==3.0.3
pydantic-core==2.46.4
pydantic==2.13.4
pyyaml==6.0.3
referencing==0.37.0
rpds-py==0.30.0
typing-extensions==4.15.0
typing-inspection==0.4.2
